<div class="event-new-page">
    <div class="container">
      <h3 class="event-new-title">Form Dynamic</h3>
      <dy-form class="event-new-form" [form]="form" [config]="formConfig" (changed)="onChanged($event)">
        <div class="event-new-actions">
          <button class="btn btn-primary" (click)="onSubmit()">
            Submit
          </button>
        </div>
      </dy-form>
    </div>
  </div>